@use "../../../../app/design-system/styles/variables" as vars;

.logo {
  a {
    color: vars.$white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;

    &:hover {
      color: vars.$primary;
    }
  }
}