<div class="category-detail-page">
  <div class="container">
    <h1 class="category-title">{{ category | titlecase }}</h1>

    <div *ngIf="loading">Chargement des produits...</div>

    <div *ngIf="!loading && products.length === 0">
      Aucun produit trouvé dans cette catégorie.
    </div>

    <div class="product-grid" *ngIf="!loading && products.length > 0">
      <div class="product-item" *ngFor="let product of products">
        <app-product-card [product]="product"></app-product-card>
      </div>
    </div>
  </div>
  <app-category-list></app-category-list>
</div>
