<div class="category-detail">
  <div class="container">
    <h1 class="category-title">{{ category | titlecase }}</h1>

    <div *ngIf="loading">Chargement des produits...</div>

    <div *ngIf="!loading && products.length === 0">
      Aucun produit trouvé dans cette catégorie.
    </div>

    <div class="product-list" *ngIf="!loading && products.length > 0">
      <app-product-card *ngFor="let product of products; let i = index" [product]="product"
        [ngClass]="{'even': i % 2 === 1, 'odd': i % 2 === 0}">
      </app-product-card>
    </div>
  </div>
  <app-category-list></app-category-list>
  <app-about></app-about>
</div>
